[submodule "external/poco"]
	path = external/poco
	url = https://github.com/pocoproject/poco.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/philslib"]
	path = external/philslib
	url = https://github.com/CppPhil/philslib.git
[submodule "external/gsl"]
	path = external/gsl
	url = https://github.com/microsoft/GSL.git
[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/doctest/doctest.git
